* {
  margin:0;
  padding:0;
}
#flash_error {
  color:red;
}

#flash_notice {
  color:blue;
}

#flash_success {
  color:green;
}


table.task_list tr.odd{
  background-color:#ddd;
}

table.task_list tr.even{
  
}