* {
  margin:0;
  padding:0;
}

div.flash {
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  background-color:white;
  margin-top:20px;
}

div#flash_error {
  color:red;
  border:red 5px solid;
}

div#flash_notice {
  color:blue;
  border:blue 5px solid;
}

div#flash_success {
  color:green;
  border:green 5px solid;
}


table.task_list tr.odd{
  background-color:#ddd;
}

table.task_list tr.even{
  
}

body {
  background-color:gray;
}

div#header {
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  font-size:24;
  font-weight:bold;
}

div#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  margin-top:30px;
  background-color:white;
}