* {
  margin:0;
  padding:0;
}

h1 {
  margin:10px
}

h2 {
  margin:5px;
}

div.flash {
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
  background-color:white;
  margin-top:20px;
}

div#flash_error {
  color:red;
  border:red 5px solid;
}

div#flash_failure{
  color:red;
  border:red 5px solid;
}

div#flash_notice {
  color:blue;
  border:blue 5px solid;
}

div#flash_success {
  color:green;
  border:green 5px solid;
}

div#content {
  padding:10px;
}

table.task_list tr.odd{
  background-color:#ddd;
}

table.task_list tr.even{
  
}

body {
  background-color:gray;
}

div#header {
  width:1000px;
  margin-left:auto;
  margin-right:auto;
  font-size:24;
  font-weight:bold;
}

div#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1000px;
  margin-top:30px;
  background-color:white;
}

/** Projects **/

div#project_right {
  width:30%;
  float:right;
}

div#project_tasks {
  float:left;
  width:60%;
  text-align:center;
}

div.project_user_info a{
  font-size:20px;
}

div#post_list {
  border:1px solid #ccc;
  margin-top:10px;
}

div.post {
  padding:5px;
}

table.task_list tr {
  text-align:left;
}

table.task_list tr td {
  padding:5px;
}

table.task_list tr th {
  padding:10px;
}

div.watch_action {
  float:right;
}

/** Tasks **/

div#task_description {
  
}